{{ define "main" }}

<!-- HERO SECTION -->
<section class="hero">
  <div class="container">
    <p class="tagline">Website by a polymath</p>
    <h1 class="main-heading">SHUBHAM SHAW</h1>
    <div class="buttons">
      <a href="/about" class="btn">ABOUT</a>
      <a href="/contact" class="btn">CONTACT</a>
    </div>
    <!-- <div class="search disabled" >
      <input type="text" placeholder="Search">
      <button><span>&#128269;</span></button>
    </div> -->
  </div>
</section>

<!-- WELCOME SECTION -->
<section class="section welcome">
  <div class="container">
    <h2>​Welcome to Shubham's Creative Hub: Where Passions Unite!</h2>
    <hr/>
    <p>
      Welcome to my corner of the internet! I'm Shubham Shaw, a senior software developer with a passion for exploration and 
      creativity. This website serves as a hub for my various hobbies and interests, including coding, sketching, painting, and 
      music. Join me on this journey as I share tutorials, showcase my artwork, and provide solutions to technical challenges. 
      Let's embark on a journey of learning and discovery together!
      <br/><br/>
      Below is my gitHub Profile:<br/>
      <a href=" https://github.com/shawshubham​">https://github.com/shawshubham​</a>
    </p>
  </div>
</section>
<hr/>
<section class="section feature-grid">
  <div class="container grid">

    <!-- Software Engineering -->
    <div class="feature-card">
      <i class="fas fa-laptop-code feature-icon"></i>
      <h3>Software Engineering</h3>
      <p>Explore tutorials, learning paths, and real-world backend projects.</p>
      <a href="/learning" class="btn">Explore Learning</a>
    </div>

    <!-- Stock Market : Commenting as of now!-->
    
    <div class="feature-card disabled">
      <i class="fas fa-chart-line feature-icon"></i>
      <h3>Stock Market</h3>
      <p>My notes, insights, and lessons from investing and financial markets.</p>
      <a href="/stock-market" class="btn">Explore Stocks</a>
    </div>
   
    
    <!-- Art Gallery : Commenting as of now!-->
    
    <div class="feature-card disabled">
      <i class="fas fa-palette feature-icon"></i>
      <h3>Art Gallery</h3>
      <p>A space for poetry, artwork, and creative experiments.</p>
      <a href="/art-gallery" class="btn">Visit Gallery</a>
    </div>
   
  </div>
  
</section>

{{ end }}