{{ $parts := split .File.Path "/" }}
{{ $topDirs := slice 
  "foundational-skills" 
  "intermediate-skills" 
  "advanced-skills" 
  "development_skills" 
  "database-skills" 
  "dev-ops-skills" 
  "applied-emerging-skills"
  "core-systems"
  "algorithmic-systems"
  "streaming-and-concurrency"
  "graph-and-networked-systems"
  "capstone-projects"
  "interview-prep"
  "language"
  "frameworks"
  "system-design"
  "data-and-messaging"
  "behavioral-and-hiring-manager"
}}
{{ $topPageObject := .Site.Home }}
{{ $section := .Section }}

{{ range $i, $part := $parts }}
  {{ if in $topDirs $part }}
    {{ $nextIndex := add $i 1 }}
    {{ if lt $nextIndex (len $parts) }}
      {{ $nextDir := index $parts $nextIndex }}
      {{ $pagePath := printf "/%s/%s/%s" $section $part $nextDir }}
      {{ $page := site.GetPage $pagePath }}
      {{ if $page }}
        {{ $topPageObject = $page }}
      {{ end }}
    {{ end }}
    {{ break }}
  {{ end }}
{{ end }}

{{ .Scratch.Set "topPageObject" $topPageObject }}