<footer>
  <div class="container">
    <p>© {{ now.Year }} The Shubham Co. All rights reserved.</p>
    <br/>
    <p class="connect-label">Connect with me</p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/shawshubham/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/shawshubham​" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="mailto:shubhamshaw139@gmail.com" title="Email">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.instagram.com/shawshubham/" target="_blank" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/@ShubhamShawSharingKnowlege" target="_blank" title="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>