<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32">
<!-- Fonts and Styles -->
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}?v={{ now.Unix }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- Script to toggle navbar class on scroll -->
<script src="/js/nav-scroll.js" defer></script>
<script src="/js/theme-toggle.js" defer></script>
<script src="/js/nav-toggle.js" defer></script>