@import url("./partials/00-variables.css");
@import url("./partials/01-base.css");
@import url("./partials/02-layout.css");
@import url("./partials/03-header-nav.css");
@import url("./partials/04-hero.css");
@import url("./partials/05-sections.css");
@import url("./partials/06-cards.css");
@import url("./partials/07-topic-content.css");
@import url("./partials/08-footer.css");
@import url("./partials/09-components.css");
@import url("./partials/10-sidebars.css");
@import url("./partials/11-mermaid.css");
@import url("./partials/pages/00-about-page.css");
@import url("./partials/pages/01-learning-page.css");
@import url("./partials/pages/02-subject-landing.css");