/*==============================
  Layout and Base Styles
==============================*/
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Birdseye', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  flex: 1;
}

.container {
  margin: auto;
  padding: 1rem;
}