{{ define "main" }}
<section class="hero hero-small">
  <div class="container">
    <p class="tagline">Explore Topics</p>
    <h1 class="main-heading">{{ .Title }}</h1>
    <p>{{ .Params.description }}</p>
  </div>
</section>

<section class="feature-grid section">
  <div class="container grid">
    {{ range .Pages }}
      <div class="feature-card">
        {{ with .Params.icon }}
          <i class="{{ . }} feature-icon"></i>
        {{ end }}
        <h3>{{ .Title }}</h3>
        <p>{{ .Params.description }}</p>
        <a href="{{ .RelPermalink }}" class="btn">Start Learning →</a>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}