{{ define "main" }}
<section class="hero hero-small">
  <div class="container">
    <p class="tagline">Explore Topics</p>
    <h1 class="main-heading">{{ .Title }}</h1>
  </div>
</section>

<section class="section topic-content-wrapper">
  <div class="container">
    <div class="topic-meta">
      <p class="last-updated">
        Last updated on: {{ .Lastmod.Format "2nd Jan, 06" }}
      </p>
    </div>

    <article class="topic-content">
      {{ .Content }}
    </article>
  </div>
</section>
{{ end }}