{{ define "main" }}
<section class="hero hero-small">
  <div class="container">
    <p class="tagline">Let's Explore</p>
    <h1 class="main-heading">{{ .Title }}</h1>
  </div>
</section>

<section class="section topic-content-wrapper">
    <div class="topic-outline">
        <h2>We will be covering:</h2>
        <ul>
            {{ $content := .Content }}
            {{ $matches := findRE "<h2[^>]*>(.*?)</h2>" $content }}
            {{ range $i, $match := $matches }}
            <li>{{ replaceRE "<.*?>" "" $match }}</li>
            {{ end }}
        </ul>
    </div>

    <div class="container">
      <div class="topic-meta">
        <p class="last-updated">
          {{ if .GitInfo }}
            Last updated on: {{ .GitInfo.AuthorDate.Format "2 Jan, 2006" }}
          {{ else }}
            Last updated on: {{ .Lastmod.Format "2 Jan, 2006" }}
          {{ end }}
        </p>
      </div>
    </div>
    
    <article class="topic-content">
      {{ .Content }}
    </article>
  </div>
</section>

<section class="topic-nav">
  <div class="container nav-buttons">
    {{ with .NextInSection }}
      <a href="{{ .RelPermalink }}" class="btn nav-btn">&larr; Back</a>
    {{ end }}

    {{ partial "find-top-section.html" . }}
    {{ $top := .Scratch.Get "topPageObject" }}
    {{ with $top }}
    <a href="{{ .RelPermalink }}" class="btn nav-btn">
        {{ .Title }} : Home Page
    </a>
    {{ end }}

    {{ with .PrevInSection}}
      <a href="{{ .RelPermalink }}" class="btn nav-btn">Next &rarr;</a>
    {{ end }}
  </div>
</section>
{{ end }}