{{ define "main" }}

<!-- Smaller Hero Section -->
<section class="hero hero-small">
  <div class="container">
    <p class="tagline">WHERE AM I</p>
    <h1 class="main-heading">Contact</h1>
  </div>
</section>

<!-- About Section Layout -->
<section class="about-section">
  <h2>Get In Touch</h2>
  <hr/>
  <div class="container">
    <div class="profile-image">
      <p>
        Have a question or want to collaborate on a project? Reach out to me! I'm always open to new opportunities and connections. 
        Drop me a message, and let's start a conversation.
      </p>
    </div>
    <div class="about-text">
      {{ .Content }}
    </div>
  </div>
</section>

{{ end }}