/*==============================
  Subject Landing Page Layout
==============================*/
.toc-section {
  padding: 2rem 1rem;
}

.toc-outer-list {
  list-style-type: none;
  padding-left: 1.5rem;
  margin-left: 0;
}

.toc-outer-list > li {
  list-style-type: none;
  margin-bottom: 1rem;
  padding-left: 0;
}

.toc-inner-list {
  list-style-type: none;
  padding-left: 2rem;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.toc-inner-list li {
  margin: 0.2rem 0;
}

/* .section.toc-section a:visited {
  color: var(--link-visited);
  text-decoration: underline;
} */
