/*==============================
  Learning Page Layout
==============================*/
.learning-sub-header {
  font-size: 1.4rem;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.learning-section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto 1rem auto;
  color: var(--accent-color);
}

.learning-section-icon svg {
  pointer-events: none;
}

